/* Custom CSS for our widgets */

html, body{
	margin: 0;
	padding: 0;
}

#bar header{
	margin-top: 1em;
}

.widget {
	margin: 0.5em 0;
}

#flipbox .side{
	padding: 0.5em;
	min-height: 10em;
}

#flipbox .front{
	background: #eee;
}

#flipbox .back {
	background: #eef;
}