/* Custom CSS for our widgets */

@font-face
{
	font-family: OpenSans;
	src: url('OpenSans-SemiBold.ttf')
} 
html, body{
	margin: 0;
	padding: 0;
	font-family: OpenSans;

}

h1 {
	font-size: 100%;
}

x-appbar {
	padding: .1em 0;
}

x-deck {
	min-height: 32em;
}

x-deck > x-card {
	background: #eee;
	color: #000;
	padding: 1em;
}
